<footer>
    <div class="footerContainer">
        <div>
            <h3>Reference</h3>
            <p>Billboard</p>
            <p>Spotify</p>
            <p>chosic.com</p>
            <p>wiki</p>
        </div>
        <ul>
            <li><a href="https://github.com/PaiKai-Lee/MusicTop100"><img src="/img/GitHub-Mark-Light-64px.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/in/%E7%99%BE%E5%87%B1-%E6%9D%8E-a107771bb/"><img src="/img/LI-In-Bug.png" alt=""></a></li>
        </ul>
    </div>
</footer>