<header>
    <a href="/"><h1>Music Top 100</h1></a>
    <nav class="nav">
        <div class="yearBar">
            <button><img src="/img/search.svg" alt=""></button>
            <input type="text" placeholder="YYYY" maxlength="4" minlength="4">
        </div>
        <a href="#">Genres flow</a>
        <a href="/user/login">Login/Signup</a>
        <a href="#">Log out</a>
    </nav>
    <button class="menu"><img src="/img/menu.svg" alt=""></button>
</header>