<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Kai Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Top 100</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <header>
        <h1>Music Top 100</h1>
        <nav>
            <a href="#">Genres flow</a>
            <a href="/user/login">Login/Signup</a>
            <a href="#">Log out</a>
        </nav>
    </header>
    <main>
        <section class="info">
            <div id="BarChart"></div>
            <div id="subGenres">
                <div class="subHeader">
                    <h4>Top sub-Genres</h4>
                    <p>Percent</p>
                </div>
            </div>
            <div class="slideContainer">
                <input type="range" name="slideYear" value="1960" id="slideYear" min="1960" max="2020" step="1">
                <input type="number" name="inputYear" value="1960" id="inputYear" min="1960" max="2020">
            </div>
        </section>
        <section class="playList">
            <div id="hot100">
                <div class="top">
                    <h1><span></span> billboard Hot 100</h1>
                    <p id="make100">Make playlist</p>
                </div>
                <div class="listContainer">
                    <!-- 動態加入item -->
                </div>
            </div>
            <div id="myList">
                <div class="top">
                    <h1>UserName</h1>
                    <p>Make playlist</p>
                </div>
                <div class="listContainer">
                    <div class="items">
                        <p class="itemSong">XXXXX</p><p class="itemArtist">mecheal-jackson</p> <button class="playButton"></button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div id="cont"><iframe id="player" class="player" type="text/html" frameborder="0" allow="autoplay" allowfullscreen></iframe>
      </div>
    <footer>

    </footer>
</body>
<script src="/js/index.js"></script>
</html>