<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Kai Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login/Signup</title>
</head>
<body>
    <div class="member">
        <a href="/"><img class="close" src="/img/close_white.png" alt="close"></a>
        <form class="loginForm">
            <h1>登入會員帳號</h1>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">登入</button>
            <button style="display: none;">Login with Google</button>
            <p>點此註冊新會員</p>
        </form>
        <form class="signupForm hide">
            <h1>註冊會員帳號</h1>
            <input type="text" name="user" placeholder="UserNmae">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">註冊</button>
            <p>點此登入</p>
        </form>
    </div>
</body>
<script src="/js/login.js"></script>
</html>