<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Kai Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/Group 2.png" type="image/x-icon">
    <title>Music Top100</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="member">
        <a href="/"><img class="close" src="/img/close_white.png" alt="close"></a>
        <form class="loginForm">
            <h1>登入會員帳號</h1>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">登入</button>
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile, email" onlogin="checkLoginState()"></div>
            <p>點此註冊新會員</p>
        </form>
        <form class="signupForm hide">
            <h1>註冊會員帳號</h1>
            <input type="text" name="user" placeholder="UserNmae">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">註冊</button>
            <p>點此登入</p>
        </form>
    </div>
</body>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '833666487282684',
            cookie: true,
            xfbml: true,
            version: 'v11.0'
        });

        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0&appId=833666487282684&autoLogAppEvents=1" nonce="26mWXoK4"></script>
<script src="/js/login.js"></script>
</html>