<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Kai Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Top 100</title>
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>Music Top 100</h1>
        <nav>
            <a href="#">Genres flow</a>
            <a href="/user/login">Login/Signup</a>
            <a href="#">Log out</a>
        </nav>
    </header>
    <main>
        <section class="info">
            <div id="Chart"></div>
            <div id="subGenres">
                <div class="subHeader">
                    <h4>Top sub-Genres</h4>
                    <p>Percent</p>
                </div>
            </div>
        </section>
        <section class="playList">
            <div id="hot100">
                <div class="top">
                    <h1><span></span> billboard Hot 100</h1>
                </div>
                <div class="listContainer">
                    <!-- 動態加入item -->
                </div>
            </div>
            <!-- <div id="myList">
                <div class="top">
                    <h1>UserName</h1>
                    <p>Make playlist</p>
                </div>
                <div class="listContainer">
                    
                </div>
            </div> -->
        </section>
    </main>
    <div id="myPlayList" class="myPlayList">
        <div class="listBtn">playlist</div>

    </div>
    <div id="embed-container" class="hideiframe">
        <iframe id="player" class="player" type="text/html" frameborder="0" allow="autoplay" allowfullscreen></iframe>  
        <button id="ytbClose"><img src="/img/close_white.png" alt="YTBclose"></button>
    </div>
    <footer>

    </footer>
</body>
<script src="/js/base.js"></script>
<script src="/js/main.js"></script>
</html>