<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Kai Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Top 100</title>
    <link rel="stylesheet" href="/css/c3.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/sub.css">
</head>
<body>
    <%- include('./header.ejs') -%>
    <main>
        <div class="types">
            <span class="type">Pop</span>
            <span class="type">Dance/EDM</span>
            <span class="type">Hip-hop/Rap</span>
            <span class="type">R&B</span>
            <span class="type">Latin</span>
            <span class="type">Rock</span>
            <span class="type">Metal</span>
            <span class="type">Country</span>
            <span class="type">Folk/Acoustic</span>
            <span class="type">Classical</span>
            <span class="type">Jazz</span>
            <span class="type">Blues</span>
            <span class="type">Easy Listening</span>
            <span class="type">New Age</span>
            <span class="type">World/Traditional Folk</span>
        </div>
        <section class="info">
            <h1>genres</h1>
            <div id="chart"></div>
        </section>
        <section class="playList">
                <div class="listContainer">
                    <div class="loader"><img src="/img/loader.svg" alt=""></div>
                    <!-- 動態加入item -->
                </div>
        </section>
    </main>
    <div id="listWrap" class="listWrap">
        <div class="listBtn">playlist</div>
        <div id="myPlayList" class="myPlayList">
        </div>
    </div>
    <div id="embed-container" class="hideiframe">
        <iframe id="player" class="player" type="text/html" frameborder="0" allow="autoplay" allowfullscreen></iframe>  
        <button id="ytbClose"><img src="/img/close_white.png" alt="YTBclose"></button>
    </div>
    <%- include('./footer.ejs') -%>
</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/js/c3.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/sub.js"></script>
</html>