<div class="types">
    <button class="subBtn"><img src="/img/list.svg" alt=""></button>
    <div>
        <span class="type">Pop</span>
        <span class="type">Dance/EDM</span>
        <span class="type">Hip-hop/Rap</span>
        <span class="type">R&B</span>
        <span class="type">Latin</span>
        <span class="type">Rock</span>
        <span class="type">Metal</span>
        <span class="type">Country</span>
    </div>
    <div>
        <span class="type">Folk/Acoustic</span>
        <span class="type">Classical</span>
        <span class="type">Jazz</span>
        <span class="type">Blues</span>
        <span class="type">Easy Listening</span>
        <span class="type">New Age</span>
        <span class="type">World/Traditional Folk</span>
    </div>
</div>