*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Helvetica','Arial','微軟正黑體', sans-serif;
}
html,body{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header,footer{
    flex-shrink: 0;
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    flex-grow: 1;
}
/* header */
header{
    background-color: #2C3A47;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header h1{
    font-weight: normal;
    animation: flash 2s infinite alternate;
    color: #fff;
}
header .menu{
    background-color: transparent;
    display: none;
    border: transparent;
    cursor: pointer;
}
@keyframes flash {   
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 8px rgb(255, 15, 15),
        0 0 30px rgb(255, 15, 15),
        0 0 40px rgb(255, 15, 15)
    }  
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
nav{
    display: flex;
    align-items: center;
}
nav a{
    color: white;
    margin-right: 1.75rem;
    letter-spacing: 0.2rem;
}
nav a:hover{
    color: red;
    -webkit-text-stroke: 0.5px white;
}
nav div{
    margin-right: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div input{
    font-size: 1.1rem;
    width: 5rem;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent ;
    border-bottom:1px solid grey;
}
nav div button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* myPlayList */
.listWrap{
    width: 300px;
    height: 75vh;
    position: fixed;
    top:11%;
    right: -290px;
    transition: 0.1s;
    z-index: 3;
}
.myPlayList{
    color: white;
    background-color: #2C3A47;
    width: 300px;
    height: 75vh;
    border: 1px black solid;
    position: fixed;
    top:11%;
    right: -290px;
    transition: 0.1s;
    overflow-y: auto;
    z-index: 3;
}
.listWrap .listBtn{
    cursor: pointer;
    padding: 3px;
    background-color:#ffffff;
    border: 1px solid gray;
    color: black;
    box-shadow: 0 0 5px gray;
    position: absolute;
    top:0;
    left: -55px;
}
.myListHide{
    right: 0px;
}
.myPlayList .items{
    border: 1px gray solid;
    height: 4rem;
    padding: 5px;
    font-size: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.myPlayList .items p:nth-child(1){
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 30%;
}
.myPlayList .items p:nth-child(2){
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 30%;
}
.myPlayList .items button{
    width: 10%;
    background-color: transparent;
    border: none;
}
.myPlayList .items button img{
    width: 100%;
    cursor: pointer;
}
.myPlayList.items button img:hover{
    opacity: 0.6;
}
.myPlayList .items button:nth-child(3){
    width: 5%;
}

/* Youtube */
#embed-container{
    position: fixed;
    left:0;
    bottom: 0px;
}
.player{
    width: 200px;
    height: 200px;
    transition: 0.5s;
}
.move{
    bottom: 100px;
}
.player:hover{
    width: 360px;
    height: 240px;
}
#ytbClose{
    position: absolute;
    top: -30px;
    right: 0;
    width: 25px;
    height: 25px;
    border: transparent;
    border-radius: 50%;
    background-color: rgba(red, green, blue, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hideiframe{
    display: none;
}

/* footer */
footer{
    background: #2C3A47;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.footerContainer div h3{
    border-bottom:1px solid white;
    padding-bottom: 5px;
}
.footerContainer div p{
    font-size: 15px;
    padding: 2px;
}
.footerContainer ul{
    display: flex;
    list-style-type: none;
}
.footerContainer ul a{
    display: inline-block;
    margin: 0 10px;
}
.footerContainer ul img{
    width: 30px;
}

@media screen and (max-width:680px) {
    header{
        position: fixed;
        width: 100%;
        top:0;
        z-index: 3;
    }
    main{
        margin-top:4rem;
    }
    .nav{
        position: fixed;
        background-color:#2C3A47 ;
        line-height: 3rem;
        top: -100%;
        right: 0;
        left: 0;
        flex-direction: column-reverse;
        z-index: 2;
        transition: 0.2s;
    }
    .show{
        top: 3.3rem;
    }
    header .menu{
        display: block;
    }
}

