/* 主內容 */
.sectionTop{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backTo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backTo p:nth-child(1){
    font-size: 4rem;
    cursor: pointer;
}
.backTo p:nth-child(1):hover{
    opacity: 0.7;
}
.backTo input{
    width: 20rem;
    font-size: 3rem;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: black 2px solid;
    
}
.quotations{
    padding-top: 5px;
}
.sectionBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chart{
    width: 90%;
    height: 48vh;
}
/* ------- */
@media screen and (max-width:1200px) {
    main{
        width: 100%;
    }
}