*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    height: 100%;
}
header{
    font-family: 'New Rocker', cursive;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header h1{
    font-weight: normal;
    animation: flash 2s infinite alternate;
    color: #fff;
}
@keyframes flash {   
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 8px rgb(255, 15, 15),
        0 0 30px rgb(255, 15, 15),
        0 0 40px rgb(255, 15, 15)
    }  
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
nav{
    display: flex;
    align-items: center;
}
nav a{
    color: white;
    padding-right: 2rem;
    letter-spacing: 0.2rem;
}
nav a:hover{
    color: red;
    -webkit-text-stroke: 0.5px white;
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
main .info{
    width: 100%;
    display: flex;
}
.info #BarChart{
    width:70%;
    height:80vh;
}
.info #subGenres{
    width:30%;
    border: 1px black solid;
    margin: 3rem;
}
#slideYear{
    width:80%;
}
section.playList{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.playList .listContainer{
    width: 100%;
    height: 100%;
    border: 1px black solid;
}
#hot100{
    width: 45%;
    height: 800px;
}
#myList{
    width: 45%;
    height: 800px;
}
footer{
    background: black;
    width: 100%;
    height: 10vh;
}