.types{
    width: fit-content;
    margin:10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.types div{
    margin:8px 1px;
}
.types .type{
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    margin:0 1px;
}
.types .subBtn{
    display: none;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playList>.listContainer{
    width:80%;
    height:600px;
    border: 1px solid grey;
    margin: 10px auto 10px auto;
    overflow: auto;
    position: relative;
}

.listContainer .items{
    border: 1px gray solid;
    height: 4rem;
    padding: 5px;
    font-size: 1.25rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.listContainer .items p:nth-child(1){
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 30%;
}
.listContainer .items p:nth-child(2){
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 30%;
}
.listContainer .items button{
    width: 10%;
    background-color: transparent;
    border: none;
}
.listContainer .items button img{
    width: 50%;
    cursor: pointer;
}
.listContainer .items button img:hover{
    opacity: 0.6;
}
.listContainer .items button:nth-child(3){
    width: 5%;
}
.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media screen and (max-width:1200px) {
    main{
        width: 100%;
    }
    #div{
        width:95%;
    }
}

@media screen and (max-width:680px) {
    .listContainer .items button img{
        width: 100%;
    }
    .types{
        position: fixed;
        top:10%;
        width: 180px;
        background-color:#2C3A47 ;
        color: white;
        margin: 0;
        justify-content: flex-start;
        z-index: 1;
        left: -180px;
        border-radius: 0 10px 10px 0;
        transition: 0.2s;
    }
    .types div{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:0;
        
    }
    .types .type{
        width: 100%;
        margin:2px auto;
        border:none
    }
    .types .subBtn{
        display: block;
        position: absolute;
        top: 0;
        left:177px;
        background-color: transparent;
        border: none;
    }
    .showSub{
        left: 0px;
    }
}